body {
  background-color: #4d4d4d; /* Light grey background */
  margin: 0; /* Removes default margin */
  font-family: Arial, sans-serif;
}


.d-flex {
  display: flex;
  flex-direction: column;
}

.min-vh-100 {
  min-height: 100vh;
}

.container {
  flex-grow: 1; /* This makes the content area grow to fill available space, pushing the footer down */
}