.hero-section {
  display: flex;
  flex-direction: row; /* Default layout */
  align-items: center; /* Align items vertically */
  justify-content: center; /* Center items horizontally */
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
  padding: 20px;
}

@media (max-width: 768px) {
  .hero-section {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }
}

.text-container {
  flex: 1; /* Text container takes up available space */
  margin-right: 20px; /* Space between text and image */
}

.text-container h1, .text-container h2 {
  margin: 0 0 10px; /* Zero margin at the top for h1, adds bottom margin for spacing between h1 and h2 */
}

.text-container h1 {
  position: relative;
  color: white;
  font: 700 normal 2.5em 'Tahoma';
  overflow: hidden; /* Ensures the pseudo-element's animation doesn't go outside the text bounds */
}

.text-container h1::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%; /* Start from the left */
  width: 100%;
  height: 100%;
  background-color: #333; /* Match the body's background for a revealing effect */
  animation: revealText 3s ease forwards;
}

@keyframes revealText {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}

.hero-section h2 {
  padding-top: 20px;
}

.type-writer {
  margin: auto;
  color: white;
  font: 700 normal 2.5em 'tahoma';
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}

.homeImage {
  width: 100%; /* Full width of its parent container */
  max-width: 600px; /* Maximum width to ensure it doesn't get too large */
  height: auto; /* Maintain aspect ratio */
  margin-top: 20px; /* Add space between text and image on smaller screens */
}

.about-me {
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-me h1 {
  text-align: center; /* Ensures the title is centered */
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Aligns items at the start, allowing for variable size content */
  flex-wrap: wrap; /* Allows content to wrap if necessary */
}

.about-content h2 {
  padding-top: 20px;
  font-size: 30px; /* Smaller text size for h2, adjust as necessary */
  max-width: 55%; /* Adjust the width to make room for the larger images grid */
}

.images-grid {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Keeps a 3x3 grid */
  gap: 20px; /* Increases the gap for better spacing with larger images */
  width: 50%; /* Adjust width to your preference */
  max-width: 500px; /* Increases max-width to allow larger images */
}

.images-grid img {
  width: 100%; /* Ensures images fill their cells */
  height: auto; /* Maintains aspect ratio */
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Dynamic classes for animation delay */
.images-grid img {
  opacity: 0;
  animation: fadeIn 2s ease-out forwards;
}

/* Example delay classes, you can create more if needed */
.fade-in-delay-1 { animation-delay: 0.5s; }
.fade-in-delay-2 { animation-delay: 1s; }
.fade-in-delay-3 { animation-delay: 1.5s; }
.fade-in-delay-4 { animation-delay: 2s; }